<!DOCTYPE html>
<html>
<head>
    <title>Image Gallery</title>
</head>
<body>
    <h1>Image Gallery</h1>
    {% for image_folder in keys %}
        <h2>{{image_folder}}</h2>
        {% for image in images[image_folder] %}
            <div style="display: inline-block; text-align: center; margin: 10px;">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <a href="https://twitter.com/{{id_map[image.split('_')[-1][:-4]][0]}}">artist: {{id_map[image.split('_')[-1][:-4]][0]}}</a>
                    <a>is_retweet: {{id_map[image.split('_')[-1][:-4]][1]}}</a>
                    <img src="{{url_for('static', filename=folder + '/low/' + image_folder + '/' + image)}}" height="360">
                    <button onclick="window.location.href='/download?folder_name={{image_folder}}&image_name={{image}}'" download>Download</button>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</body>
</html>

